@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
	height: 100%;
}
body{
	margin: 0px;
}
.mat-card{
	margin-bottom: 15px;
}

.home-tabs .mat-tab-label-container{
	    background: #6200EE;
}
.home-tabs .mat-tab-label{
    height: 80px;
    width: 33.33%;
    align-items: flex-end;
    padding-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
 	letter-spacing: 1px;
 	font-size: 13px;
    font-weight: normal;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
	width: 33.33% !important;
	background: #fff !important;
}