@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
	height: 100%;
}
body{
	margin: 0px;
}
.mat-card{
	margin-bottom: 10px;
}

.home-tabs .mat-tab-label-container{
	    background: #6200EE;
}
.home-tabs .mat-tab-label{
    height: 80px;
    width: 33.33%;
    align-items: flex-end;
    padding-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
 	letter-spacing: 1px;
 	font-size: 13px;
    font-weight: normal;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
	width: 33.33% !important;
	background: #fff !important;
}
.mat-toolbar.mat-primary{
	font-weight: normal;
}
.small-btn{
	color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
}
.search-subheader .mat-form-field-appearance-legacy .mat-form-field-label{
	color: #fff;
	opacity: 0.54;
	font-weight: 200;
}
.search-subheader .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline{
	background-image: none;
}
.search-subheader .mat-form-field-appearance-legacy .mat-form-field-wrapper{
	padding: 0px;
}
.result-list{
	padding:10px;
}