<mat-toolbar color="primary">
    <mat-icon routerLink="/search-result">arrow_back</mat-icon>
    <span class="header-title"> The Westin Lake, Las Vegas</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
<div class="img-gallery">
  <mat-grid-list cols="1" rowHeight="4:3">
      <mat-grid-tile><img src="assets/images/hotel-img-01.jpg"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="3:3">
      <mat-grid-tile><img src="assets/images/hotel-img-01@2x.png"></mat-grid-tile>
      <mat-grid-tile><img src="assets/images/hotel-img-03@2x.png"></mat-grid-tile>
      <mat-grid-tile><img src="assets/images/84329972.jpg"></mat-grid-tile>
  </mat-grid-list>
  <div class="details-wrapper">
    <div class="hotel-details-row">
      <p class="mat-subheading-2">101 montelago boulevard henderson NV 89011, <br>Unitated States<br> 1850 500 2121</p>
      <div class="review-details">
        <mat-icon class="favorite">
            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
        </mat-icon>
        <img class="tripadviser-icon" src="assets/images/tripadviser.png">
        <div class="mat-body-1">19450 reviews</div>
      </div>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12892.59530395281!2d-114.9233787!3d36.1142318!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8702f9204cb75229!2sThe+Westin+Lake+Las+Vegas+Resort+%26+Spa!5e0!3m2!1sen!2sin!4v1545305065627" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
<br><br>
    <mat-divider></mat-divider>
<br>
<div class="search-subheader">
    <div class="date-container">
      <mat-form-field appearance="legacy">
        <mat-label>Check In</mat-label>
        <input matInput placeholder="select date" value="25/01/2019" disabled> 
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Check Out</mat-label>
        <input matInput placeholder="select date" value="30/01/2019" disabled> 
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Guest</mat-label>
        <input matInput placeholder="2 Adults, 0 Child" value="2 Adults, 0 Child" disabled> 
      </mat-form-field>
    </div>
  </div>
</div>
<div class="details-tabs">
<mat-tab-group>
    <mat-tab label="OVERVIEW"> Situated in Las Vegas, this hotel is within 6 miles (10 km) of Orleans Arena, Wet‘n’Wild Las Vegas and Raider Stadium. Desert Breeze Park and Town Square Las Vegas are also within 6 miles (10 km).</mat-tab>
    <mat-tab label="ROOMS"> Content 2 </mat-tab>
    <mat-tab label="REVIEW"> Content 3 </mat-tab>
  </mat-tab-group>
</div>