<div class="slider-wrapper">
  <h3 class="mat-title"> Popular destinations </h3>
  <div class="home-slider">
    <mat-card><img (click)="hotelInitSearch('Newyork','NY','US',40.72266,-73.952766);" src="assets/images/newyork@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Newyork</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img (click)="hotelInitSearch('San Francisco','CA','US',37.7752,-122.4192);" src="assets/images/San Francisco@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">San Francisco</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img (click)="hotelInitSearch('Chicago','IL','US',41.87954,-87.62434);" src="assets/images/Chicago@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Chicago</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img (click)="hotelInitSearch('Dallas','TX','US',32.78108,-96.79711);" src="assets/images/Marseille@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Dallas</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img (click)="hotelInitSearch('Denver','CO','US',39.75509,-104.9881);" src="assets/images/newyork@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Denver</h2>
      <div class="overlay"></div>
    </mat-card>
  </div>
</div>

<div class="slider-wrapper">
    <h3 class="mat-title"> Featured Places </h3>
    <div class="home-slider">
      <mat-card><img (click)="hotelInitSearch('Paris','PAR','FR',48.85667,2.350987);" src="assets/images/Paris@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Paris</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img (click)="hotelInitSearch('London','LON','UK',51.50015,-0.1262362);" src="assets/images/Scotland@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">London</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img (click)="hotelInitSearch('Chicago','IL','US',41.87954,-87.62434);" src="assets/images/Chicago@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Chicago</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img (click)="hotelInitSearch('Marseille','MRS','FR',43.29834,5.383221);" src="assets/images/Marseille@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Marseille</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img (click)="hotelInitSearch('Newyork','NY','US',40.72266,-73.952766);" src="assets/images/newyork@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Newyork</h2>
        <div class="overlay"></div>
      </mat-card>
    </div>
  </div>